@use "tailwindcss" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap");

@theme {
  --color-black-100: #0e0d0d;

  --color-white-100: #d5d5d5;

  --color-grey-100: #525252;
  --color-grey-200: #262525;
  --color-grey-300: #858882;
  --color-grey-400: #959595;
  --color-grey-500: #5a5a5a;
  --color-grey-600: #181819;
  --color-grey-700: #242424;
  --color-grey-800: #818181;
  --color-grey-900: #222324;
  --color-grey-1000: #525252;

  --color-olive-100: #dcff7ffd;
  --color-olive-200: #c8e972;
  --color-olive-300: #b3e237;
  --color-olive-400: #c8e972;
  --color-olive-500: #c9ff3b;
  --color-olive-600: #23291e;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #151515;
  font-family: "Inter", sans-serif;
}

:root {
  font-family: Inter, system-ui, A venir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-chestnut: #f00;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// a {
//   font-weight: 500;
//   color: #646cff;
//   text-decoration: inherit;
// }

// a:hover {
//   color: #535bf2;
// }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */

/* button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    // color: #213547;
    // background-color: #ffffff;
  }

  // a:hover {
  //   color: #747bff;
  // }

  /* button {
    background-color: #f9f9f9;
  } */
}

.MuiBackdrop-root.MuiModal-backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.button-glow {
  position: relative;
  display: inline-block;
}

.button-glow::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 10px;
  right: 10px;
  height: 8px;
  background: linear-gradient(90deg, #3bff72, #c9ff3b);
  filter: blur(6.7px);
  opacity: 0.4;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.button-glow {
  &:hover {
  }
}

.button-glow:hover::after {
  opacity: 1;
}
