@use "tailwindcss" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap");

@theme {
  --color-black-100: #0e0d0d;

  --color-white-100: #d5d5d5;

  --color-grey-100: #525252;
  --color-grey-200: #262525;
  --color-grey-300: #858882;
  --color-grey-400: #959595;
  --color-grey-500: #5a5a5a;
  --color-grey-600: #181819;
  --color-grey-700: #242424;
  --color-grey-800: #818181;
  --color-grey-900: #222324;
  --color-grey-1000: #525252;

  --color-olive-100: #dcff7ffd;
  --color-olive-200: #c8e972;
  --color-olive-300: #b3e237;
  --color-olive-400: #c8e972;
  --color-olive-500: #c9ff3b;
  --color-olive-600: #23291e;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #151515;
  font-family: "Inter", sans-serif;
}

:root {
  font-family: Inter, system-ui, A venir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-chestnut: #f00;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.MuiBackdrop-root.MuiModal-backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
